/* Common navbar styles */
.navbar {
  background-color: #f9f8f4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2b321b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
  font-family: 'Cooper Black', cursive;
  color: #2b321b !important;
}

.nav-link {
  color: #2b321b !important;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.nav-link.active,
.nav-link:hover {
  background-color: #ccd5ae;
  color: #2b321b !important;
  border-radius: 25px;
}

.btn-outline-success {
  border-color: #2b321b;
  color: #2b321b;
}

.btn-outline-success:hover {
  background-color: #2b321b;
  color: white;
}
